a:link{
    text-decoration: none;
}
header{
    margin-bottom: 2%;
}
body{
    background-image: url("images/Abell1367.jpg");
    background-size: cover;
}
h1, div{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    text-align: center;
}
div{
    margin: 2%;
    font-size: 1.5rem;
}