a:link{
    text-decoration: none;
}
header{
    margin-bottom: 2%;
}
body{
    background-image: url("images/Abell1367_bg.jpg");
    background-position: 20% 20%;
    background-size: cover;
}
h1, div{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    text-align: center;
}
div{
    font-size: 1.5rem;
}
#formular{
    margin: 3%;
    font-size: 1.5rem;
}
img{
    width: 100%;
    object-fit: contain;
}
form{
    margin-top: 2%;
}
input[type=submit]{
    background-color: #186aad;
    color: #ffffff;
    font-size: 2rem;
    border: none;
    margin-top: 2%;
    padding: 0% 2%;
    border-radius: 5px;
}
input[type=submit]:hover{
    background-color: #114f81;
}
div[class*="field"]{
    border: 2px solid white;
    padding: 2%;
}
#question{
    margin: 2% 0;
}